body {
	background: url('../views/images/shanghai.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	/*color:#337ab7;*/
  	background-color:#333;
  	font-family: 'microsoft yahei' ,Arial,sans-serif;
    padding-bottom: 40px;
    /*background-color: #eee;*/
    opacity:0.9;
}
input {
  opacity:0.6;
}
/*button {
  opacity:0.9;
}*/
nav {
  opacity:0.6;
}
.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}