<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Angular-material</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
</head>

<body>
<div ng-controller="AppCtrl" layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav"
     ng-app="MyApp">

    <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
            </md-toolbar>

            <md-content layout-margin="">
                <p>
                    This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
                </p>
                <md-button ng-click="toggleLeft()" class="md-accent">
                    Close this Sidenav
                </md-button>
            </md-content>

        </md-sidenav>

        <md-content flex="" layout-padding="">

            <div layout="column" layout-align="top center">
                <p>
                    Developers can also disable the backdrop of the sidenav.<br>
                    This will disable the functionality to click outside to close the sidenav.
                </p>

                <div>
                    <md-button ng-click="toggleLeft()" class="md-raised">
                        Toggle Sidenav
                    </md-button>
                </div>

            </div>

        </md-content>

    </section>

</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<!--<script src="bower_components/angular-route/angular-route.min.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->

<script src="scripts/angular/app_md.js"></script>
<script src="scripts/angular/app.js"></script>
<script src="scripts/angular/Controllers/WelcomeCtrl.js"></script>
<script src="scripts/angular/Controllers/LoginCtrl.js"></script>
<script src="scripts/angular/Controllers/SignupCtrl.js"></script>

<script src="bower_components/js-md5/src/md5.js"></script>
</body>
</html>
