<div class="form-horizontal" ng-init="init()">
    <form name="loginForm" ng-submit="signup(signupInfo)">
        <div class="form-group">
            <label class="col-sm-4 col-lg-2 control-label">姓名</label>
            <div class="col-lg-4 col-sm-8">
                <input type="text" class="form-control" ng-model="signupInfo.name" name="" placeholder="姓名">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">账号</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="signupInfo.account" id="account" ng-keyup="validate()" placeholder="账号">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="signupInfo.password" name="" placeholder="密码">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary" type="submit">注册</button>
            </div>
        </div>
        <form>
</div>
<!--<script>
    var times;
    $('#account').keyup(function(){
        try{
            clearTimeout(times);
        }catch(e){};
        times = setTimeout("fun()",3000);
    }).blur(function(){
        try{
			clearTimeout(times);
		}catch(e){};
        if($('#account').val() !== ""){
            fun();
        }
    });
    function fun(){
        console.log("3s");
    }
</script>-->