<div class="panel panel-default table-responsive" ng-init="init()">
    <!-- Default panel contents -->
    <div class="panel-heading">All Users</div>
    <!-- Table -->
    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Account</th>
            <th></th>
        </thead>
        <tbody ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.account}}</td>
            <td>
                <button class="btn btn-danger" ng-click="removeUser(user)">Delete</button>
            </td>
        </tbody>
    </table>
</div>
<ul uib-pagination total-items="10" ng-model="currentPage" ng-change="setPagingData(currentPage)" items-per-page="itemsPerPage" class="pagination-md" boundary-links="true"
    force-ellipses="true"></ul>